#grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 10%;
  row-gap: 200px;
  padding-top: 10%;
  background-color: white;
}

#cell1,
#cell2,
#cell3,
#cell4 {
  text-align: center;
  display: grid;
  grid-template-columns: auto auto auto;
  padding-top: 5%;
  padding-bottom: 5%;
}

#cell1-1 {
  display: none;  
}

#cell1-3 {
  background-color: #f0fafa;
  border-style: solid;
  border-color: #d8f2f2;
  border-width: 2%;
}

.button1 {
  height: 200%;
}